@import url('./../fonts/product-sans/style.css');
*{
    font-family: 'Product Sans';
    color: #3a3a3a;
}
.brand-logo{
    height: 70px;
    flex: 1 1 auto;
}
.navbar{
    height: 70px;
}
.sidebar-main{
    overflow-y: scroll;
    max-height: 100%;
}
.sidebar-main::-webkit-scrollbar {
    width: 8px; /* width of the scrollbar */
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
  
.sidebar-main:hover::-webkit-scrollbar-thumb {
    background-color: #d3d3d3; /* color of the thumb */
    border-radius: 6px; /* roundness of the thumb */
}

.sidebar-main::-webkit-scrollbar-track {
    opacity: 0; /* color of the track */
}



.sidebar-nav{
    padding: 20px;
}
.sidebar-nav *{
    font-size: 9pt;
}
.sidebar-nav .sidebar-nav-header{
    text-transform: uppercase;
    /* font-size: 12pt; */
    font-weight: 700;
    padding: 5px 10px; 
    margin-top: 30px;
}
.sidebar-nav .sidebar-nav-header:nth-child(1){
    margin-top: 0px;
}

.sidebar-nav .sidebar-nav-items{
    text-transform: capitalize;
    /* font-size: 12pt; */
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px;
}
.sidebar-nav .sidebar-nav-items:hover{
    background-color: #ECF2FF;
}
.sidebar-nav .sidebar-nav-items:hover *{
    
    color: #5D87FF;
}
.sidebar-nav .sidebar-nav-items a{
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
}

.sidebar-nav .sidebar-nav-items.active{
    background-color: #5D87FF;
}
.sidebar-nav .sidebar-nav-items.active *{
    color: #FFF;
}

.navbar .notification-icon{
    padding: 10px;
    line-height: 0;
    border-radius: 50%;
    
}
.navbar .notification-icon.notification-icon-hover{
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.navbar .notification-icon:hover{
    background-color: #ECF2FF;
    color: #5D87FF;
}
.navbar .notification-icon span{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #5D87FF;
    z-index: 999;
    border-radius: 50%;
    transform: translate(-35%, -65%);
}
.profile-icon{
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
}
.profile-icon:hover{
    background-color: #ECF2FF;
}
.profile-icon-hover{
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.profile-icon img{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.content-wrapper{
    max-width: 100%;
}